[2019-06-23 01:09] BradenM opened #6 "Stub Manager"
Seperate stub handling from Micropy Class to its own StubManager class.

Will make it much easier to add future things such as remote stub sources

[2019-06-23 01:23] BradenM opened #7 "Implement Remote stub source"
[micropy-stubs](https://github.com/BradenM/micropy-stubs) will eventually be an easy way to manage stubs from all different devices in a defined manor/structure. By using AWS S3, micropy-cli will use it as its primary source for stubs.

[2019-06-23 01:28] BradenM opened #8 "Add Tests for cli module"

[2019-06-23 01:42] BradenM opened #9 "Micropy Project File"
Add a `micropy.json` file to each project to contain project info, stubs, modules, etc. Will be used similarly to a `package.json`.

Something like:
[code]

Where `firmware` and `devices` will be used to install/use the project base stubs, and `dependencies` will be used to create (or be created from) `requirements.txt` and will automatically stub the module, adding it to the project.

This way we

[2019-06-23 01:44] BradenM opened #10 "Add ability to init existing projects"
Allow `micropy init` to work in existing projects

[2019-06-23 05:50] BradenM opened #11 "Refactor Pyboard Stub Creation"
At least:
Refactor with rshell, moving the functionality out of `main.MicroPy` .

Maybe later:
Remove `rshell` dep entirely, just use straight up [pyboard.py](https://github.com/micropython/micropython/blob/master/tools/pyboard.py)

Tests:
Figure out some tests for it
- [x] Add Pyboard/Rshell Wrapper
- [x] Add Wrapper Tests
- [x] Refactor `main.Micropy.create_stubs`
- [x] Add tests

[2019-06-25 07:06] #6 closed

[2019-06-25 07:06] #11 closed

[2019-06-25 07:07] BradenM opened #15 "Add more Docs"
Update README and add more documentation.

[2019-06-26 00:40] #8 closed

[2019-06-26 01:48] BradenM opened #16 "Handle Frozen Modules"
Once remote stubs are complete and MicropyCli is using micropy-stubs as its primary stub source, frozen modules will be downloaded with the "stub packages." So, we can then handle adding frozen modules to better vscode intellisense.
- [ ] Blocked by #7

[2019-06-26 01:52] BradenM opened #17 "Use Symlinks for Stub Paths"
Since VSCode doesn't allow environment variables in `settings.json` files, (see [microsoft/vscode#2809](https://github.com/microsoft/vscode/issues/2809)), the generated `settings.json` and `.pylintrc` aren't very VCS friendly.

To get around this, I think it would be a good idea to generate a symlink (ignored by VCS) at the root of a new project that directs towards the users `.micropy` folder. Th

[2019-06-28 01:19] BradenM opened #19 "Micropy Project Folder"
Instead of using `$HOME/.micropy` to store any stubs added to micropy, create a VCS ignored `.micropy` folder at the root of a project. Similiar to a `node_modules` folder, except for storing stubs/frozen modules used in the project.

Could possibly use the current `$HOME/.micropy` folder to store all added stubs, but just add symlinks in the `PROJECT/.micropy` folder.

This would be a much better

[2019-06-28 01:28] BradenM commented on #17
Closed in favor of #19

[2019-06-28 01:28] #17 closed

[2019-07-11 05:48] BradenM commented on #7
Closed by #18

[2019-07-11 05:48] #7 closed

[2019-07-11 05:48] BradenM commented on #16
Closed by #22

[2019-07-11 05:48] #16 closed

[2019-07-11 05:48] #15 closed

[2019-07-17 00:45] #9 closed

[2019-07-17 01:10] BradenM commented on #19
Closed by #28

[2019-07-17 01:10] #19 closed

[2019-07-17 01:10] #10 closed

[2019-07-20 15:41] fpe opened #31 "UnicodeDecodeError on micropy init in Windows"
I have install micropy-cli 1.1.2 on my Windows 10 (x64) where also python 3.7.3 (x64) is installed.
"Python 3.7.3 (v3.7.3:ef4ec6ed12, Mar 25 2019, 22:22:05) [MSC v.1916 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information."

When I perform the following command "micropy-cli init test", I get the following error. I have also tried the same error on another

[2019-07-20 20:35] BradenM commented on #31
Hi @fpe,

Thanks for bringing this to my attention. This issue appears to only be reproducible in a Windows environment, as the problem arises when micropy-cli tries to write to its log file with a string that contains a Windows path.

I've opened up a PR (#32) that fixes this issue, and will merge and release `1.1.3` shortly.

Also, please be aware that micropy will be creating symbolic links whe

[2019-07-20 20:35] #31 closed

[2019-07-23 19:42] BradenM opened #36 "Project Dependencies"
Handle Project dependencies by:

* Tracking them
* Bringing intellisense/autocompletion/linting to them
* Managing requirements.txt files

[2019-07-25 22:32] BradenM commented on #36
Closed by #35

[2019-07-25 22:32] #36 closed

[2019-07-30 07:30] fpe opened #38 "<SYMLINKD> is missing when make a git Clone"
Hi
When I get an GIT Clone of my project on new PC, the <SYMLINKD> for -esp-micropython-1.11.0 and micropython is not created.

[2019-07-30 08:51] BradenM commented on #38
Hi @fpe,

Strange. I can't seem to reproduce it on my end.
If it exists, try removing the copied projects `.micropy` folder and re-running `micropy`.

Do you mind providing me with a copy of your `$HOME/.micropy/micropy.log` file?
Also, if its public, mind providing me a link to the repo your using?

Going to need a bit more information to get to the bottom of this one :)

[2019-07-31 07:38] fpe commented on #38
First, thank you for your response.
I have now deleted the .micropy folder and run "micropy install" in cmd as admin, and it worked and everything is in place now. After looking at it a little close, I can see that on it I am called "fpe" and on the other I am called "Flemm". I enclose micropy.log as well as the link to github.

https://flemmingpetersen.visualstudio.com/DefaultCollection/Automatic

[2019-07-31 19:20] BradenM commented on #38
Glad to see you got it working.

For the record, I do not have permission to view the repo you linked, but since your issue has been resolved all is well.

I will add a more descriptive error for Windows users when they try to execute micropy without the proper permissions to avoid any future confusion. Thanks!

[2019-07-31 19:20] #38 closed

[2019-08-21 10:02] patvdleer opened #40 "BUG: TypeError: Unknown color 'bright_green'"
[code]

[code]

[code]

[2019-08-21 10:04] patvdleer commented on #40
You need to add click to the requirements, `click >=7`

[2019-08-21 15:26] BradenM commented on #40
Hi @patvdleer, thanks for the report!

Just tested this out and found that you are correct! I will update the click requirement soon. Thanks!

[2019-08-21 15:36] #40 closed

[2019-08-24 15:23] jtuttas opened #41 "failed to execute micropy-cli on windows 10"
Hello, just try to execute the micropy cli on windows 10 with the command "micropy stubs search esp32" and i've got the following stack trace

[code]

Did you have any idea what is going wrong?

best regards

jtutt

[2019-08-24 15:50] jtuttas commented on #41
Ah, after updating to the latest version of python 3.7.4. it works !

[2019-08-24 15:50] #41 closed

[2019-08-25 12:59] AndreaCCIE opened #42 "Does this work with vscode-insider?"
I've followed all the instruction provided, but the IntelliSense down't show up anything.
Is this because of the "insider version"?

![Screenshot 2019-08-25 at 13 58 47](https://user-images.githubusercontent.com/48698293/63650257-8255b480-c740-11e9-9bf5-7be9bfe7f0f5.png)

[2019-08-25 13:11] AndreaCCIE commented on #42
It does, I had to change Microsoft.Python.LanguageServer to chmod 0764. Not sure what was the problem.

[2019-08-25 13:11] #42 closed

[2019-08-29 17:43] vbolshakov opened #43 "Add support for Lego EV3 MicroPython"
Add support for Lego EV3 MicroPython. https://education.lego.com/en-us/support/mindstorms-ev3/python-for-ev3

[2019-08-29 17:53] vbolshakov opened #44 "Create Directory Junction instead making symbolic links on Windows"
Junction (mklink /J) can be made without administrative privileges on Windows.

[2019-08-29 18:07] BradenM commented on #44
Thanks! I will definitely take a look at this when I get a chance today.

[2019-08-29 19:51] BradenM commented on #43
Hi, thanks for the idea.

I will look further into it, but as I do not own an EV3 brick myself, I am not sure if I will be able to generate the stubs for it. Have you tried executing `micropy stubs create <EV3_PORT>`?

If the stubs generate successfully, you could either provide them to me or create a PR on [micropy-stubs](https://github.com/BradenM/micropy-stubs) to add them for everyone.

Let me

[2019-08-29 20:04] vbolshakov commented on #43
There is no micropython repl on uart, but there is ssh access to ev3. Just need to understand what scripr i need to run on ev3 to generate stubs.

[2019-08-29 20:16] vbolshakov commented on #43
Can you add option to generate stubber as file?

[2019-08-29 21:25] BradenM commented on #43
Interesting.

So micropy-cli uses [micropython-stubber](https://github.com/Josverl/micropython-stubber) for its stub generation. Essentially, you need to do the following:

1. Clone `micropython-stubber` and open `createstubs.py` in your editor.
2. Update the [self.modules list](https://github.com/Josverl/micropython-stubber/blob/030653d29abe9c583d706689f5d62d7f36f7d565/createstubs.py#L53) with th

[2019-08-29 22:20] vbolshakov commented on #43
There custom Lego build of micropython - pybricks-micropython (MicroPython v1.9.4 on 2019-03-26; linux version) with differences in 'os' module, so i change createstubs in several places with os and firmware version parsing. It is generating stubs for everything but custom modules. And i don't know why...
If you interested, i can provide remote access to ev3.

[2019-08-29 22:31] BradenM commented on #43
Sure, I'd love to take a look at it!

[2019-08-30 07:13] vbolshakov commented on #43
What is the best way to give you access credential?

[2019-08-30 12:07] Josverl commented on #43
Hi,

I think that what is happening is that there is no way for a .py script to find out which modules there are on the firmware.

the only way is to issue the command : `help('modules')` , however the output of that cannot be redirected , exept on specific hardware.

so the apporach that I have uses in micro-stubber is :
- DO that once manually , per firmware
- create an array of all possible com

[2019-08-30 12:08] Josverl commented on #43
also if you have a list of LEGO specific MicroPython modules , i can just add them to the list of modules to try for micros-stubber.

[2019-08-30 12:23] vbolshakov commented on #43
help('modules') show modules without any problems:
`robot@ev3dev:~$ pybricks-micropython
MicroPython v1.9.4 on 2019-03-26; linux version
Use Ctrl-D to exit, Ctrl-E for paste mode

__main__          parameters_c      pybricks/uev3dev/messaging          umachine
_thread           pybricks/__init__ pybricks/uev3dev/sound              uos
array             pybricks/display  pybricks/uev3dev/util

[2019-08-30 12:29] Josverl commented on #43
Okay, that is helpful

I suspect that has something to do with nested modules ( module/submodule and even module/sub/leaf  )
( that is somthing I have noticed ( with M5Stack) before , but have not untangled earlier

have you tried `stubber.add_modules(['pybricks'])`
behaviour will depend on the implementation. It looks like LEGO has used frozen py-modules so we only can guess

[2019-08-30 12:31] Josverl commented on #43
also likely relevant : a manual stubbing exercise : https://github.com/drewwhis/pybricks-stubs

[2019-08-30 12:35] vbolshakov commented on #43
Already use it. But automation with micropy-cli will be better.

[2019-08-30 12:44] vbolshakov commented on #43
Checked both:
    stubber.add_modules(['pybricks']) # stubs for LEGO Pybricks
    stubber.add_modules(['pybricks/ev3brick']) # stubs for LEGO Pybricks

[2019-08-30 13:05] Josverl commented on #44
mklink

For windows 10  users who have Developer Mode enabled, the mklink command will now successfully create a symlink even f the user is not running as an administrator.

You can go to the For developers page at any time to enable or disable Developer Mode: simply enter "for developers" into the Cortana search box in the taskbar.

[2019-08-30 14:52] vbolshakov commented on #44
Hard link and Directory Junction differ. Directory Junction created without any problems

[2019-08-30 14:54] vbolshakov commented on #44
X:\!(2019-08-30 17-50)>mklink /H B A
Access is denied.

X:\!(2019-08-30 17-50)>mklink /J B A
Junction created for B <<===>> A

[2019-08-30 14:57] vbolshakov commented on #44
Also, when using Win API there is no problems to create Hard Link - i use Far (File and achieve manager) and able to create both without admin privileges.

[2019-08-30 15:23] BradenM commented on #44
When I get to my desktop today, I'm thinking about implementing a fallback on windows like this:

[code]

Thoughts?

[2019-08-30 15:59] vbolshakov commented on #44
Not work. Create Symlink only with administrative privileges.

[2019-08-30 16:01] BradenM commented on #43
@Josverl, thanks for your help. I don't really know much about the EV3 products.

@vbolshakov, agreed. The automated stub creation is relatively primative and could definitely be expanded on.

When I get to a desktop later today I will look at this in more detail.

[2019-08-30 16:07] vbolshakov commented on #44
Ok. There is no easy way... Pywin32 ad requirement or https://github.com/juntalis/ntfslink-python that just copy part of Pywin32.

[2019-08-30 17:13] BradenM commented on #44
Oh, for some reason I thought the `CreateSymbolicLinkW` method used a junction.

I will take a look at `ntfslink-python`, thanks.

[2019-08-31 00:38] BradenM commented on #43
@vbolshakov, I suppose I could add [pybricks-stubs](https://github.com/drewwhis/pybricks-stubs) to micropy-stubs until Josverl/micropython-stubber#7 is solved. Sound good for now?

[2019-08-31 09:13] vbolshakov commented on #43
Yes.

[2019-08-31 09:59] BradenM commented on #43
Okay, went ahead and added what I could. Since it's only the extra modules from `pybricks` I would suggest adding another package along side it.

This seemed to work pretty well for me while I was testing it:
[code]

[code]

[2019-09-01 04:41] #44 closed

[2019-09-01 17:52] BradenM opened #46 "Add Micropy Stubs Testing Repo"

[2019-09-01 21:27] Josverl commented on #43
@vbolshakov
Please take a look at : https://github.com/Josverl/micropython-stubber/issues/7#issuecomment-526954206

[2019-09-05 02:38] BradenM commented on #43
Closed via BradenM/micropy-stubs#3 and Josverl/micropython-stubber#7

Also, as I edited [here](https://github.com/BradenM/micropy-cli/issues/43#issuecomment-526656278), did not mean to bash on @Josverl 's work (my own, rather) haha. `micropython-stubber` is the reason we are even having this conversation.

[2019-09-05 02:38] #43 closed

[2019-09-05 14:42] vbolshakov opened #47 "Not work on Pyboard (and clones)"
micropy-cli version 2.1.0 not work on Pyboard (STM32F405RGT6 MCU) and it's clones.
stubs generation end with errors. On ESP32 work without problems.
[code]
After physically device disconnect-connect there is stub files visible on filesystem.
Main difference of this boards is internal fs exposed as USB mass storage device. Disabling USB MSD not solve this problem.

[2019-09-05 15:09] BradenM commented on #47
Thanks for the report!

Does the Pyboard use `/flash` as it's root directory? If so, I most likely forgot to implement a check to see if `/flash` exists before attempting to retrieve the stubs.

[2019-09-05 15:14] BradenM commented on #47
Also, could you share the log file via [pastebin](https://pastebin.com/)? It should be located under `$HOME\.micropy\micropy.log`

Thanks.

[2019-09-05 15:36] vbolshakov commented on #47
There is no "/flash" on pyboard, just "/". Are there "/flash" on ESP32? os.listdir() show only "/" content with main.py and boot.py.

https://pastebin.com/LiJVSyer

[2019-09-05 15:59] vbolshakov commented on #47
Stubs exists on flash if i connect to pyboard after micro-cli.

[code]

[2019-09-05 18:27] BradenM commented on #47
Hmm. For some reason rshell isn't able to access the stub directory on the device... I will check this out soon, but for now I would make sure you have the latest rshell version via: `pip install rshell --upgrade`

Also, I re-released the pybricks stubs yesterday with the new generated stubs. You can install them via: `micropy stubs add ev3-pybricks-1.0.0` if you want to check them out.

[2019-09-05 18:30] vbolshakov commented on #47
[code]
ev3-pybricks-1.0.0 already in use. Thank you again.

[2019-09-17 15:15] BradenM opened #48 "PyCharm IDE Support"
Should be able to support PyCharm by handling a `.idea/micropy.iml` file included in `.idea/modules.xml` that sources stubs from a projects local `.micropy` folder.

[2019-09-20 20:13] ramprao opened #49 "Getting jsondecodeerror"
When I try to install something in VScode , for example, picoweb, I get the following error:

[code]
Get the error with any package I'm trying to install.

[2019-09-20 21:24] BradenM commented on #49
Hi @ramprao,

Thanks for the report. Looks like the `requests` module is failing to parse the JSON package file from PyPi.

Do you mind providing your `micropy.log` file via a pastebin or similiar?  (Stored in $HOME/.micropy/micropy.log)

I cannot reproduce this issue, so it may be something wrong with your environment. Please try executing `pip install requests --upgrade` and check if the issue p

[2019-09-20 21:52] ramprao commented on #49
Braden, Thanks. Here is the pastebin from the time when I started the micropy command.

(https://pastebin.com/rCVsfm2e)

I did try a reinstall of requests but that did not help. I may try a separate environment.

[2019-09-20 22:04] ramprao commented on #49
Thanks. You were correct. It works in a new conda environment. Something must have conflicted.
[code]
Start VS Code. Change python: Select Interpreter to point to this environment.
[code]
Installed without error.

[2019-09-20 22:04] #49 closed

[2019-09-22 01:27] BradenM opened #50 "MS-Python 2019.9.34474 breaks VSCode functionality"
## The Problem

Microsoft recently released v2019.9.34911 of the [official Python extension](https://github.com/microsoft/vscode-python) for VSCode.

microsoft/vscode-python#7024 was included, which deprecated DonJayamanne's [workaround](https://github.com/microsoft/vscode/issues/2809#issuecomment-243674123) allowing the `${workspaceRoot}` folder to be used in `.vscode/settings.json`.

Since `micr

[2019-09-22 09:24] #50 closed

[2019-09-29 06:29] BradenM opened #56 "Stub Loading is Slow and Repetitive"

[2019-09-30 11:12] jmannau commented on #47
I have just experienced the same issue.

Here is my setup:
 - MacOS 10.14
 - VS Code
 - Pycom FiPy - v1.20rc13 FW
 - USB Serial Connection

Here is the verbose log

[code]

When I log into the device, the stubs are generated.
[code]

I can download the stubs by FTP, but can't understand how to install them manually.

On a seperate note, I'm also happy to create a PR to submit them to the stubs rep

[2019-10-08 05:23] BradenM commented on #47
Hi @jmannau, I apologize for my late reply, I must have missed the notification.

Have you had any luck regarding this issue? I do not have a PyBoard myself, and have been unable to reproduce this issue on any other device so this has been a bit tricky for me. I will continue to look further into this however, as there are many improvements that can be made regarding `micropy-cli`'s automated use

[2019-10-08 05:30] jmannau commented on #47
Hi Braden,
No, I wasn't able to solve it. I worked around it by mimicking an existing
board stub with the generated stubs.  I will submit a PR to that repo with
these stubs that I generated.
Do you have any pointers on where to look and I can give it another try.
James

On Tue, 8 Oct 2019 at 16:23, Braden Mars <notifications@github.com> wrote:

[2019-10-08 05:43] BradenM commented on #47
Well, I do see that your Pyboard has a root of `/flash` which *should* be handled `rshell` if I recall correctly, but perhaps you could fiddle with [this rsync call](https://github.com/BradenM/micropy-cli/blob/5d518d3b535828ffc0b7b8e547c369bff03925a3/micropy/main.py#L102) and [this method](https://github.com/BradenM/micropy-cli/blob/5d518d3b535828ffc0b7b8e547c369bff03925a3/micropy/utils/pybwrapper

[2019-10-08 10:47] jmannau commented on #47
So I spent some time looking into this. the `dir_path = self._pyb_path(path)` [link](https://github.com/BradenM/micropy-cli/blob/master/micropy/utils/pybwrapper.py#L192) returns a `/pyboard/stubs` which results in the not found error.  If I manually set the dir_path to `/flash/stubs` the copy gets further.

Unfortunately, in my case, it then dies with a `binascii.Error: Non-hexadecimal digit found

[2019-10-11 04:20] Lars-O-Knudsen opened #59 "micropy init fails on Win10"
I installed your awesome micropy-cli on Windows 10  following LeMaRiva’s guide and your readme.
Installation and stub creation went fine.

But ”micropy init” fails as seen below.
(I have different problems when I try to run the cmd in a folder on my NAS shared drive  – but thats another story and not important right now)

VSCode is in my path and I can launch it from the cmd line.

**VSCODE versio

[2019-10-13 09:36] #59 closed

[2019-10-13 09:38] BradenM commented on #59
Hi @Lars-O-Knudsen,

Thanks again for reaching out. I apologize for taking a bit longer then I had stated in my email, but this issue has now been fixed. The patch will be included in the next release, but you can simply install `micropy-cli` from git if you wish to use it immediately.

Thanks!

[2019-10-13 09:47] BradenM opened #64 "Fix Failing Windows Tests"
About 10 tests are currently failing on Windows.

[2019-10-14 03:28] #64 closed

[2019-11-10 14:03] fpe opened #68 "Error en install package Ultrasonic"
Hi

When I try to install package Ultrasonic, I tog follow errors.

micropy install Ultrasonic

MicroPy  Loading Project
MicroPy  esp32-micropython-1.11.0 is already installed!

MicroPy  ✔ Project Ready!

MicroPy  Installing Packages
MicroPy  Adding Ultrasonic to requirements...
Traceback (most recent call last):
  File "c:\users\flemm\appdata\local\programs\python\python37\lib\runpy.py", line 193

[2019-11-10 16:31] BradenM commented on #68
Hi @fpe,

Can you link me to the package your trying to install? As of this moment, any packages are sourced from [pypi](https://pypi.org) and it looks like there isn't a package available named "Ultrasonic" _(note: packages are case-sensitive_)

However, this does point out the issue that such an error should be properly dealt with rather then exiting with an exception. Will fix soon.

[2019-11-11 06:06] fpe commented on #68
Hi Braden

First thanks.

I use following Library from  https://github.com/skgsergio/MicropythonLibs.

Med venlig hilsen
Flemming Petersen
Kildebakkegårds Allé 24
2870 Dyssegård
Mobil  : +45 2080 3958
Email : Flemming_Petersen@hotmail.com<mailto:Flemming_Petersen@hotmail.com>

________________________________
Fra: Braden Mars <notifications@github.com>
Sendt: 10. november 2019 17:31
Til: BradenM/m

[2019-11-11 16:06] BradenM commented on #68
Oh I see. I will add support for adding packages from git soon.

Something like this maybe:

`micropy install git+https://github.com/skgsergio/MicropythonLibs/Ultrasonic`

[2019-11-11 23:16] BradenM commented on #68
Hi @fpe,

While I do still plan on implementing adding packages from Git, it is not likely that this specific repo will work, as it is not setup as a package/module (no `setup.py` or proper structure).

Support for this would simply be too broad, and would have to cover a lot of scenarios.

I suggest taking a look at [mPython-hcsr04](https://pypi.org/project/mPython-hcsr04/) as an alternative.

[2019-11-11 23:16] #68 closed

[2019-11-12 06:32] fpe commented on #68
Hi Braden

Thank you very much for the help, I will look at your suggestion and see if it can be used.
Just a quick question and I don't know if it's pymacr.
I downloaded another packer (BME280) no problems there. When I upload my entire program to esp32, it does not come over. Shouldn't that happen? .

Thanks again for the help and a fantastic program.

Med venlig hilsen / Yours sincerely
Flemmin

[2019-11-12 20:07] BradenM commented on #68
No problem!

Currently there are more than a few ways to upload external libs with micropython (see [here](https://github.com/BradenM/micropy-cli#project-dependencies)) and as such, I originally decided to only handle the local features (autocomplete/intellisense/etc) for deps and leave uploading the libs to a device up to the user.

 However, I will soon be adding additional options to `micropy i

[2019-11-12 20:13] BradenM opened #70 "Option to upload dependencies via /lib folder"

[2019-11-18 04:31] sfewings commented on #47
I also have this problem with the Pyboard. Has there been a fix, or someone done a PR for the Pyboard stubs?

[2019-11-18 05:37] BradenM commented on #47
@sfewings, unfortunately no, sorry. As @jmannau pointed out earlier, the core issue is likely with rshell, and as I do not have a device to test with I have yet to figure this one out.

I will be looking into alternatives for rshell sometime soon, but for now I would suggest using the closest stub package available (or a combination of them). I would suggest using an esp32 variant that resembles y

[2019-11-18 06:50] sfewings commented on #47
Thanks BradenM, I'm currently using the ESP32 stubs which are indeed very similar.
Thanks for all your effort with this development. The intellisense is fantastic.

[2019-11-28 00:44] MathijsNL opened #71 "Autocompletion and linting not available for libraries in src/lib"
Hi there,

**Problem**

I am having some problems with libraries not getting used for auto completion/
Default sys.path is the root folder and /lib

[code]

The resulting .vscode\settings.json and .pylintrc do not have this folder included.
Currently this results in not getting auto completion and proper linting for user defined libraries.

**Expected behaviour:**
Since the /lib folder on the devi

[2019-11-28 01:41] BradenM commented on #71
Hi @MathijsNL,

Any dependencies for your project can be installed with: `micropy install <PACKAGE>`

Instead of just adding `src/lib` to the appropriate files, I did it this way to:
* Allow people to structure their project however they want
* Allow people to keep their projects cleaner by not having to publish their requirement source(s) to git
* Generate stubs for any added requirements for int

[2019-11-28 02:49] MathijsNL commented on #71
Exactly this!

I completely agree with the arguments you give.

My only requirement is to have the src/lib folder added to the .vscode/settings.json.

My thought was to maybe add it to the main menu.

[code]

This way people will get a choice of adding this folder to their project. Although not scalable, it is the a common place for libraries since it is included in the sys.path of micropython dev

[2019-11-28 03:18] BradenM commented on #71
Okay, I definitely see how this could be frustrating with a custom library.

How does this sound?

* Add a config option in `micropy.json` called `private-lib-path`:

micropy.json
[code]

* Allow pkgs to be installed to private lib via `micropy install <PATH>`

`micropy install ./foobar/some-pkg` or `micropy install ./src/lib/some-pkg`

1.) Add pkg to `private-lib-path` if not already there

2.) U

[2019-11-29 08:29] MathijsNL commented on #71
I think that will definitely do the job!

[2019-12-02 01:22] BradenM opened #76 "Set PYTHONPATH in vscode settings"

[2019-12-02 12:32] CeKl opened #78 "AttributeError: 'TemplatesModule' object has no attribute 'provider'"
Hi,
in the beginning, thank you for the work you're putting in here.
I work under Win10 in VS code with the esp32 and get the error message "AttributeError: 'TemplatesModule' object has no attribute 'provider'" when I try to create a new project. What can I do about it? I didn't find anything in the code spontaneously.

[2019-12-02 13:12] BradenM commented on #78
Hi @CeKl,

That's strange, thanks for opening an issue about this.

Do you mind attaching your `micropy.log` file? It should be located under: `$HOME/.micropy/micropy.log`

Also, can you provide the following:
* Python Version
* MicropyCli Version (`micropy --version`)

Thanks!

[2019-12-02 13:34] CeKl commented on #78
Hi @BradenM ,
here's the log file:

[micropy.log](https://github.com/BradenM/micropy-cli/files/3911482/micropy.log)

I use the following:
Python 3.6.8
micropython 1.11
MicropyCli Version 3.1.0

Already thank you for the quick answer

[2019-12-02 16:10] BradenM commented on #78
Okay, I'm pretty sure I see the problem.

Looks like your creating a new project without any templates, is this accurate? If so I believe this is causing the issue.

As a workaround, try creating a project with at least one template.

If this works, I will fix this problem soon.

[2019-12-02 17:03] CeKl commented on #78
Hi @BradenM ,

when i specify vscode as template i get the error message " TypeError: __init__() got an unexpected keyword argument 'text' " but with pymakr as template it works as expected.

Thank you for your help

[2019-12-02 17:22] BradenM commented on #78
Okay then my suspucion was correct.

The `TypeError` you mentioned has been fixed as of da6b56ba6f097c9b7e9d0315062eb93865a5e05a

I will be cherry-picking these and some other recent fixes into a new release soon. Thanks for your help.

[2019-12-02 19:49] CeKl commented on #78
Thanks for the quick help

[2019-12-03 07:38] #78 closed

[2019-12-04 09:39] BradenM opened #79 "Organize Tests by Module"

[2019-12-09 05:58] #71 closed

[2019-12-09 09:30] BradenM commented on #71
Sorry for the delay! Had a lot of other items I needed to complete for this.

Not entirely sure the stability of this, so I went ahead and made a pre-release for it. You can try it out by executing: `pip install micropy-cli --upgrade --pre`

Let me know if you run into any issues with it! Thanks.

[2019-12-09 15:39] MathijsNL commented on #71
No problem, I appreciate you taking the time to implement this feature.

I installed a new project and tried to install custom packages. Works like a charm! Things I checked:
- [x] .vscode/settings.json looks correct, intellisense is working
- [x] requirements.txt looks correct, but when running **micropy install** afterwards it gives some errors
- [x] .pylintrc looks correct, pylint is working

I

[2019-12-09 15:58] BradenM commented on #71
Thanks for the report!

Feel free to open any new issues when you have the time. Thanks again.

[2019-12-09 16:03] BradenM opened #84 "Add Recommended extensions to VS Code settings"
Generate an `extensions.json` file with the required extensions for micropy if VS Code integration is used.

See [Workspace Recommended Extensions](https://code.visualstudio.com/docs/editor/extension-gallery#_workspace-recommended-extensions)

[2019-12-10 11:30] MathijsNL opened #85 "Nonexisting packages throw error"
Commit: ae3b811

Steps to reproduce:

[code]

This gives some errors, leading back to utils/helpers.py in function:
`def get_package_meta(name, spec=None):`

[code]

I don't know what the right moment would be to check if the package exists.

Log:
[code]

Traceback:
[code]

[2019-12-10 11:37] MathijsNL opened #86 "micropy install error for local packages"
Commit: ae3b811

Steps to reproduce:
micropy init testproject
micropy install -p ./src
micropy install

Error is different from issue #85 , but it does try to find the local package on pypi for some reason.

Log file:
[code]

Traceback:
[code]

[2019-12-10 16:27] BradenM commented on #85
Thanks!

Looks like I forgot to validate the package url. Best move would probably be using [utils.is_downloadable](https://micropy-cli.readthedocs.io/en/latest/_autosummary/micropy.utils.html#micropy.utils.is_downloadable) in `utils.get_package_meta` to raise an exception that can be caught and handled in the `cli` module.

[2019-12-11 08:15] BradenM opened #87 "Split UI and Logging Functionality #en"

[2019-12-13 04:13] #85 closed

[2019-12-13 04:13] #86 closed

[2019-12-15 00:44] BradenM opened #89 "Update notifier favors rc over release"

[2019-12-15 02:06] BradenM opened #90 "Update Notifier favor candidate over release #candidateidate"

[2019-12-15 02:58] BradenM opened #91 "Update Notifier favors release candidate over release"
**Describe the bug**
When a new release comes out that has had one or more release candidates before it, `micropy-cli` notifies that an update is available with the latest release candidate instead the actual release.

**Expected Behavior**
`micropy-cli` should notify the user of a newer version of itself and display said version.

**Current Behavior**
`micropy-cli` will display the most recent re

[2019-12-15 03:06] BradenM opened #92 "TypeError when adding stubs to existing project"
**Describe the bug**
When using `micropy stubs add` to add a stubs to an existing project, a `TypeError` is raised. This does not impact using `micropy add` to install stubs normally.

**Expected Behavior**
In an active project, `micropy stubs add` should install the stubs and add them to the active project.

**Current Behavior**
In an active project, the stubs install but a `TypeError` is raised

[2019-12-23 05:20] #91 closed

[2019-12-23 05:46] #92 closed

[2019-12-23 06:04] #84 closed

[2019-12-29 22:14] Josverl opened #96 "Improve pylint path syntax and add ./src/lib"
Hi Braden,

I would like to suggest :

1. a change in syntax to the generated `.pylintrc` file to make it cleared to read and modify.
2. the addition of src/lib path as this is commonly used

**current syntax (windows paths )**
[code]

**new [syntax](https://stackoverflow.com/questions/7376019/list-extend-to-index-inserting-list-elements-not-only-to-the-end/7376026#7376026)**
[code]
The new syntax

[2019-12-29 23:21] BradenM commented on #96
Sure, I like this idea. I could also add an additional config option `extraPaths` that would take an array of paths to add to `.pylintrc` and `python.autoComplete.extraPaths`.

Thoughts?

[2020-01-02 10:56] Josverl commented on #96
yes, such an extrapaths would be a nice to have.
i think documentation is also relvant if adding that , as it haunted me for quite some time why my `src/lib` folder was not included while the `scr` folder was.
it seems that the Python Language Service has some magic to add a scr folder to the extrapaths even if yo do not specify it.

[2020-01-03 08:26] BradenM commented on #96
Agreed. Documentation definitely needs some work. Will try and update it soon. Have not added the configuration option yet, but would love to hear your thoughts on #97. Thanks.

[2020-01-07 11:35] Josverl commented on #79
happy to pitch in. im familiar with TDD , but not on Python.
any sample to get me started ?

[2020-01-08 07:38] BradenM commented on #79
Sure!

So the main issue with the tests right now is that they are simply poorly structured and tend to be very susceptible to [hidden test dependencies](https://testmon.org/hidden-test-dependencies.html).

I'd like to eliminate any [flakyness](https://docs.pytest.org/en/latest/flaky.html), but thats a tough goal currently haha.

Would also like to split the test up into individual modules (see [G

[2020-01-08 18:06] Carglglz commented on #47
Hi, about this [issue](https://github.com/Carglglz/upydevice/issues/1)
I manage to do a pretty simple 'base serial device class', just needs Pyserial.
[code]

To be used like this:

[code]
It works with pyboard/esp32/esp8266 (tested so far)
I will implement this in upydevice but right now is still under testing
So if you want to test/implement it yourself feel free to do it ;)
Cheers

[2020-03-17 11:38] WoMeijerRoetz opened #98 "ms-python.python not recognized"
When running MicroPy init, I get the following error:
[code]
despite having 2020.2.64397 installed.

After running the init I get prompted to select a Python interpreter, which is possibly why it's not found?

* OS: Mac OSx Catalina 10.15.3
* Micropy Version: 3.3.0
* Python Version: 3.7.3
* VSCode Version: 1.43.0

[2020-03-17 19:36] BradenM commented on #98
Strange. This check should actually be disabled IIRC ...

Try starting your project with:
[code]

And see if that works.

[2020-03-23 20:57] askpatrickw opened #99 "CreateStubs hangs on PyCom Gpy"
**Describe the bug**
[code]

Micropy never gets past this part... its just hung.

**Logs**
[code]
**Context (Environment)**

## OS
MacOS: release='19.3.0', version='Darwin Kernel Version 19.3.0

## Micropy Version:
micropy, version 3.3.0

## Python Version
Python 3.6.10

## VSCode Version
Version: 1.43.1
Commit: fe22a9645b44368865c0ba92e2fb881ff1afce94
Date: 2020-03-18T07:01:41.240Z
Electron: 7.1.

[2020-03-29 02:50] iBobik opened #100 "Creatu stub fails on MemoryError"
**Describe the bug**
Tried to create stub for Pycopy v3.0.6 on esp8266

**Expected Behavior**
It will create stub.

**Current Behavior**
[code]
**Steps to Reproduce**

1. Upload Pycopy firmware
2. micropy stubs create

**Logs**
[code]

**Context (Environment)**

* OS: macOS 10.15.3 (19D76)
* Micropy Version: 3.3.0
* Python Version: 2.7.16

[2020-03-31 13:55] BradenM commented on #100
Hi @iBobik , sorry for my late reply.

This is actually a known issue with [Josverl/micropython-stubber](https://github.com/Josverl/micropython-stubber) when trying to execute it on devices with limited memory such as the esp8266.

However, I did propose a solution in the form of a PR that can be seen here: https://github.com/Josverl/micropython-stubber/pull/6

In fact `micropy-cli` actually uses

[2020-03-31 13:55] BradenM commented on #98
closing as stale

[2020-03-31 13:55] #98 closed

[2020-04-08 10:42] RunningMartin opened #101 "VSCode use micropy-cli"
Hi, I want to use micropy-cli as vscode Intellisense.In my configuration process, I have two questions:
- when I init project,`micropy init new` raise a exception.
[code]
- when I finish init project,I find vscode can\`t autocompletion.bec my project\`s `.micropy` is void.when i read the doc,i find my `~/.micropy` is different of the doc show.
![20200408182541](https://user-images.githubuserconten

[2020-04-08 12:59] RunningMartin commented on #101
Maybe I find the problem.
- rename stub folder on  the `~/.micropy/stubs`，you can find the stub by the info.json
[code]
- create your project.
[code]
by this way, I solve the problem,then i will try to find the problem in the code.

[2020-04-08 13:30] RunningMartin commented on #101
maybe i install the micropy-cli is error.
in my other computer,i can do it without any modify.
tomorrow, i will try it

[2020-04-08 14:48] #101 closed

[2020-04-11 22:40] iBobik opened #102 "Can not install micropython-wiegand"
**Describe the bug**

Tried to install specific package from pypi, but it failed.

Different packages worked.

**Expected Behavior**

It will instlall the package.
**Current Behavior**

It failed on error.
**Steps to Reproduce**

micropy install micropython-wiegand

Also tried to install from URL to zip or raw file.

**Logs**

[code]
[code]
[code]
[code]

**Context (Environment)**

macOS

micropy,

[2020-04-18 21:14] rmaes4 opened #103 "Can't resolve import?"
Thank you for this project. I am a novice when it comes to micropython and I found your tool to help me get going quickly. I am trying to use the micropython bluetooth library. VS Code is giving me an error however saying that it cannot be found. I tried running `micropy install bluetooth` as well but it said it could not be found. What exactly do I need to do to use the bluetooth library. Please

[2020-04-20 22:48] andrewbunday commented on #98
This looks to be a problem with VSCode not automatically installing the `code` command line on MacOS. So the check is running but errors:
[code]
Running `Shift-Cmd-P` and `Install 'code' command in PATH` resolves the error. It may be worth checking the return code on the subprocess returns 0.

[2020-05-04 22:26] lemariva opened #104 "Project on exFAT partition on Ubuntu > OSError: [Errno 38] Function not implemented"
**Describe the bug**
[code]
The problem appears on Ubuntu (20.04 LTS).
An exFAT partition is mounted on '/home/lemariva/Documents/work/' (encrypted and shared with Windows 10 - that's why exFAT). The exFAT file system does not support soft/hard links. The [line](https://github.com/BradenM/micropy-cli/blob/8ce66868670628821b820070aa5cb4a708ba619e/micropy/utils/helpers.py#L327):
[code]
generates the

[2020-05-07 22:52] BradenM commented on #104
Thanks! Closed by #105

[2020-05-07 22:52] #104 closed

[2020-05-07 22:59] BradenM commented on #103
Hi @rmaes4 , sorry for the delay!

This is a known issue, please see BradenM/micropy-stubs#9 for more info. Thanks!

[2020-05-12 12:53] beerygaz opened #106 "micropy install dependency issue"
I'm new to micropython, so this may well be the fault of inexperience but here goes:

I'm using your great tool under Windows and VS Code.

I'm trying to run some code that depends on urlli.parse and urllib.parse depends on a module called collections.

I have run 'micropy install micropython-urllib.parse' and 'micropy install micropython-collections'

However, once uploaded to my pycom fipy I kee

[2020-05-15 20:55] askpatrickw commented on #106
This is mentioned in the docs, but its not intuitive given how Python development normally works AND I'm going through this exact same learning curve today. ;-)

`micropy install` only makes the stubs available to vscode.
To install the package you need to use upip on your device (if it has network connectivity) use upip from your dev machine which you can then copy it over to your /src/lib or to

[2020-05-15 20:57] askpatrickw commented on #103
I opened an issue in the appropriate repo to track this: https://github.com/Josverl/micropython-stubber/issues/13

[2020-05-15 23:35] askpatrickw opened #107 "Have micropy install do an install"
I'm opening this in the hopes of a fruitful conversation... my proposal may not be the best path.

**Is your feature request related to a problem? Please describe.**
micropy install doesn't install packages, it installs stubs.
This is counter intuitive to how "install" is used in the Python world. Issue #106 is an example of this, my guess you've had this conversation before with others.

**Descri

[2020-05-18 19:13] askpatrickw opened #108 "micropy overwrites existing .vscode/settings.json"
**Describe the bug**
`micropy init` will overwrite `.vscode/settings.json` in a workspace with existing settings

**Expected Behavior**
Micropy should add itself to the workspace settings, only overwriting specific settings entries.

**Current Behavior**
micropy over writes the existing `.vscode/settings.json` loosing user preferences.

**Steps to Reproduce**

1. create a new folder.
2. launch cod

[2020-05-22 08:46] BradenM commented on #107
Sorry for the delay,

So you bring up a very valid argument which I actually found myself stuck on for a while when I had first started this project.

While I had always planned to (one day...) build a fully-fledged package management module within micropy (like poetry/pipenv/etc, but for micropython) I considered it to be outside the _original_ scope of micropy--which was to automate the process

[2020-05-22 08:52] BradenM commented on #108
Am I correct in saying this only happens when adding micropy to a pre-existing workspace?

If so, then the solution would likely be to add a check to `TemplateProvider` somewhere around [here](https://github.com/BradenM/micropy-cli/blob/b6f8efc2108006bf347b8360993e270713eb0c8d/micropy/project/template.py#L307) to see if the settings file already exists, and if so update it as it does usually (post

[2020-05-22 17:56] askpatrickw opened #109 "Update Python Versions"
Before I submit a PR, wanted to run this by you.

Currently .python-version has
3.7.3
3.6.8

I proposed updating this to:
3.8.3
3.7.7
3.6.9

The Travis and GH-Actions in TOX.ini and would also need to be updated
[code]

Not sure if any other places need updating for this OR if any other dependencies will need to be updated as well.

[2020-05-22 18:44] askpatrickw commented on #108
I'll have a look at this... but first figuring out how to build...
I'll open a separate Issue on how to build

[2020-05-22 20:03] askpatrickw opened #110 "How To Build"
I want to get the steps and dependencies nailed down to run and install a local build. Happy to add to the docs once this is figured out.

I think I'm missing a dependency or a setting or something as I'm seeing errors and micropy does not run. Let me know if you see something obvious.

At the end of all the steps below, micropy is unrecognized (but it is in pip list) and running `python -m microp

[2020-05-22 21:43] askpatrickw commented on #110
OK... the TOX warnings are probably not an issue now. I'll update the PR when I learn more.

I am still unable to run micropy though.

After all that, I ran poetry build.
[code]

I installed form the wheel `pip install dist/micropy_cli-3.3.0-py3-none-any.whl`

And I still get a traceback

[code]

[2020-05-22 21:52] askpatrickw commented on #110
Didn't mean to close that.

I also tried runing make, make install, make dist.. intalling the whl. Same lib error.

I'm going to stop for now. I'm stuck. :-(

[2020-05-23 00:56] BradenM commented on #110
Hey @askpatrickw, sorry to hear you're having some trouble w/ it.

I will add instructions on setting up a local dev env for micropy-cli soon, but the quick answer to your issue is that `micropy-cli` depends on [my fork](https://github.com/BradenM/micropython-stubber/tree/pkg/slim) of Josverl's micropython-stubber and is installed as a [git submodule](https://github.com/BradenM/micropy-cli/blob/ma

[2020-05-23 00:56] #110 closed

[2020-05-23 00:57] BradenM commented on #109
I agree. Both the base python versions _and_ several of `micropy-cli`'s dependencies need to be updated. Will look into soon.

[2020-05-23 01:04] askpatrickw commented on #110
Bingo! That was the magic sauce. Thanks Braden!

[2020-05-23 18:31] askpatrickw opened #114 "Tox Warnings will cause a failure in Tox v.4+"
In all the CI Builds there is a warning for when Poetry is run.

[code]

Not sure why the warning since poetry is in the whitelist_externals..
This will be a big deal when TOX is updated.,

[2020-05-24 09:23] #108 closed

[2020-06-05 07:36] GregWoods opened #126 "Add pymakr as a recommended VS Code Extension"
When creating a new project with ```micropy init```, and the user selects "Pymakr configuration", add PyMakr as a recommended Extension in the VS Code extensions.json fil.

## Background
I am very new to micropy (and micropython in general), so my apologies if I am missing something really obvious as to why this is a dumb request.

I am writing a short guide for a teenage nephew, so he can quickly

[2020-06-05 09:28] BradenM commented on #126
:+1: Not a dumb solution at all!

 In fact, if you weren't already aware, the vscode integration generates recommendations for extensions related to python and python intellisense, so adding pymakr when using the pymakr setting seems obvious! Surprised to see it took this long to come up, haha.

Thanks for the request, will see if I can get it up soon.

Feel free to open a pull request to add your

[2020-06-16 12:34] mattytrentini commented on #47
Also see BradenM/micropy-stubs#10. There's a hacky work-around there that allows `micropy stubs create` to run.

[2020-06-16 19:20] askpatrickw opened #135 "src/lib is ignored from version control"
Just docing this so if other people hit it. The fix is super easy.

**Describe the bug**
src/lib is ignored by version control

**Expected Behavior**
files added to src/lib should be checked in.

**Current Behavior**
They are ignored.

**Work Around && Fix **

add `!src/lib` to bottom of .gitignore

[2020-06-18 14:54] BradenM commented on #135
Actually, with the mindset of "src/lib" == 3rd party dependencies, this was on purpose.

Ideally, I'd like to have micropy rebuild this per person from the micropy.json file ( as it does currently with the .micropy/ stubs and such).

Do you have different intentions in mind?

[2020-06-18 14:58] askpatrickw commented on #135
Unfortunately, many (most?) MicroPython libraries can only be manually copied into a project.
People just don't go through the steps to publish them as packages.

That was my thinking.

[2020-06-19 00:17] BradenM commented on #135
Ah, I gotcha.

What do you think about being able to install packages directly from git instead?

Something like:
   `micropy install  git+https://github.com/user/project.git#egg=project`

[2020-06-19 06:00] askpatrickw commented on #135
I'm aware of all these ways to manage code.

If you don't want to take the PR, that's cool, its just a suggestion.

[2020-07-25 19:23] askpatrickw opened #152 "Pylance Support"
This is probably more a research project, but I wanted to put it out there to get input.

https://marketplace.visualstudio.com/items?itemName=ms-python.vscode-pylance

Micropy-cli uses :

- python.autoComplete.extraPaths
- python.autoComplete.typeshedPaths
- python.analysis.typeshedPaths

I wonder if Micropy-cli should also set similar sounding Pylance Settings

- python.analysis.stubPath
- python

[2020-07-25 20:04] BradenM commented on #152
Very interesting. Have you personally tried this? If so, how did it compare to the current ms-python + micropy stubs combo?

I've been very late putting out a release with the recent changes, so I will try and get that done today and then take a deeper look into this.

On a side note, @hlovatt recently contacted me with a new project he's working on that generates stubs with docstrings parsed stra

[2020-07-26 01:43] BradenM commented on #109
Closed by #113

[2020-07-26 01:43] #109 closed

[2020-07-26 03:23] askpatrickw commented on #152
I've not played around with it yet in micropython

I believe Circuit Python uses a similar method to generate stubs
https://github.com/adafruit/circuitpython/issues?q=is%3Aissue+is%3Aopen+stubs

[2020-08-03 18:24] #135 closed

[2020-08-20 23:50] Pixel-Therapy commented on #47
I've got the same bug on a m5 stack
`Source directory /pyboard/stubs does not exist.`
also all the stubs are there in /stubs folder

[2020-09-09 06:16] edwardjedmonds commented on #47
I have the same issue on a stock pyboard v1.1 running firmware 1.13

`PS D:\Edward\Documents\GitHub> micropy stubs create COM3

MicroPy  Connecting to Pyboard @ COM3
MicroPy  ✔ Connected!
MicroPy  Executing stubber on pyboard...
MicroPy  Pyboard  Stub module: uasyncio/core
MicroPy  Pyboard  Stub module: umqtt/robust
MicroPy  Pyboard  Stub module: umqtt/simple
MicroPy  Pyboard  Stub module: urllib/

[2020-09-09 15:06] edwardjedmonds commented on #47
This worked for me on a stock pyboard v1.1 with 1.13 firmware on windows 10. Thanks.

[2020-09-11 18:52] BradenM commented on #47
@edwardjedmonds @mattytrentini

Thank you guys for finding a workaround. As @edwardjedmonds pointed out, seems either `pybwrapper` or `rshell` is failing to determine the correct root path. Will look into this, thanks!

[2020-09-15 07:41] ShenTengTu commented on #152
`python.analysis.extraPaths` in Pylance equivalent to current `python.autoComplete.extraPaths`.

this setting works well for me.

[2020-09-26 09:02] cabletie opened #167 "stubs create panics ESP32 running Micropython 1.13"
### Question:
The first question is really is there a stub for MP 1.13?
The search doesn't return one...
So I tried creating one but it causes the ESP32 to panic (see logs below).
It seems to create just the /pyboard/stubs/esp32_1_13_0/uasyncio/core.py but that's all and it doesn't seem to download anything.

Thanks for any help.

---
### Logs:
$ micropy stubs create /dev/tty.SLAB_USBtoUART --verb

[2020-09-28 14:50] hypermaq commented on #47
Does that mean you got linting and such things working?

[2020-10-21 14:35] persello commented on #167
Same for me, even when compiling Micropython with IDF v4.0.

[code]

[2020-10-23 05:33] BradenM commented on #167
Interesting, seems micropython-stubber is having some issues with v1.13.

Just a guess, but I know the uasyncio module was completely rewritten for v1.13, so its possible it may now be causing some issues.

We could try excluding it from the stub list w/ a patch (see [here](https://github.com/Josverl/micropython-stubber/blob/master/patches/pycom.patch) for an example) and using it by passing the `

[2020-10-23 06:31] Josverl commented on #167
There was a significant enum bug in mpy 1.13.0 where I ran into the same issue, and tried the path of excluding some modules.

Since then the bug has been found and solved in build 1.13.0-103.
In the latest version of stubber there is a warning for this, as well as inclusion of the new asyncio modules.

If you need the stubs for 1.13.0-103 or others, you can collect them on  https://github.com/Jos

[2020-10-23 06:42] Josverl commented on #47
If you need the pyboard 1.1 stubs you can find them on https://github.com/Josverl/micropython-stubs

The serial download error with the pyboard is apparent in other software as well, even though upload works well. I've not looked into the root cause yet

[2020-10-27 10:45] hypermaq commented on #47
Thanks. I haven't gotten autocompletion and such working yet, but I'm likely doing something wrong.
I've documented my current steps [here](https://dietervansteenwegen.wordpress.com/2020/09/28/using-pyboard-v1-1-with-visual-studio-code/) but will need to look in to why not everything is working yet. It's rather confusing to me since there seem to be different tools and I don't know what does what

[2020-10-27 12:19] Josverl commented on #47
@BradenM

the code I addedd to pymakr to figure out the root of the board that seems to run on any firmwares that i have tried it on is :
[code]
that could be added to by trying to find the root
perhaps something like that will also help to report where the stubs are, or we could reformat the last log line toe report the stub location , so that micropy-cli can read that and be done with it

[2020-10-29 01:00] #96 closed

[2020-11-02 11:02] krenzlin commented on #152
While Pylance (v2020.10.3) now finds the stubs, it misses `range` and emits `"range" is not definedPylance (reportUndefinedVariable)`

[2020-11-07 22:30] Josverl commented on #152
i've  been looking into this from micropython-stubber to understand what needs to be done to get Lancelot happy.
i have not cracked the code on this yet.
i have a suspicion that pylance gets thrown off by the CPython-stubs, but no hard evidence yet
it would be good to have a minimal repo of where it goes wrong , so that we can whittle it down and hopefully sort it.

@ShenTengTu , as yo seem to hav

[2020-11-12 14:00] bruno963852 opened #184 "Error when initializing a project"
**Describe the bug**
When i run micropy init it crashes with the following error:
[code]

**Logs**

[code]

**Context (Environment)**

* OS: PopOS 20
* Micropy Version: 3.4.0 and 3.3.0
* Python Version: 3.8 and 3.9
* VSCode Version: 1.51.1

[2020-11-14 22:13] Fischchen opened #185 "Error when creating Stub for Pyboard"
Hello everyone,

I´m currently trying to create a Stub for my Pyboard, but when i execute

`micropy stubs create COM3`

I just get this Error message:
MicroPy  Connecting to Pyboard @ COM3
MicroPy  ✔ Connected!
MicroPy  Executing stubber on pyboard...
MicroPy  Pyboard  Stub module: uasyncio/core
MicroPy  Pyboard  Stub module: umqtt/robust
MicroPy  Pyboard  Stub module: umqtt/simple
MicroPy  Pyboar

[2020-11-15 13:46] #185 closed

[2020-11-15 13:52] Fischchen commented on #184
I have the same Issue on Windows 10

[2020-11-16 09:02] atmuc commented on #184
I have the same issue. Is there any workaround for this bug?

[2020-11-16 18:11] Harvzor commented on #184
## Workaround

Running `micropy` shows the errors posted above.

I downgraded my install to a version which seemed to work:

[code]

Verify install:

[code]

Now I can run:

[code]

[2020-11-16 19:56] BradenM commented on #184
Hey guys, sorry to see you guys are running into some issues.

I'm currently moving house, so I've been out of the loop for a bit, but as soon as I get situated I will see what I can do to help resolve this.

[2020-11-17 07:41] putyavka commented on #184
Unfortunately, @Harvzor workaround doesn't help in all cases. Error message is slitely different but basically the same

`PS D:\Dropbox\Electronics\RT-Thread\test2> micropy init

MicroPy  Update Available!
MicroPy  Version v3.4.0 is now available
MicroPy  You can update via: pip install --upgrade micropy-cli

MicroPy  Creating New Project
? Project Name test2
? Choose any Templates to Generate  [V

[2020-11-17 14:29] Harvzor commented on #184
I also gave up using `micropy-cli` after hitting the same error as above. 😬

[2020-11-17 19:34] tmbo commented on #184
the error is due to a regression in a dependency (questionary), if you upgrade to version `1.8.1` it should be fixed (e.g. `pip install questionary==1.8.1`)

[2020-11-17 19:42] BradenM commented on #184
@tmbo Oh wow, that was fast haha. Awesome, will update my PR to require `v1.8.1` instead of `<v1.8.0`.

Thanks again.

[2020-11-17 20:00] #184 closed

[2020-11-17 20:00] #114 closed

[2020-11-17 20:27] BradenM commented on #184
Okay, thanks for the patience guys, you should now be able to run `pip install --upgrade micropy-cli` (`micropy --version` should report `v3.5.0` and no longer run into this issue.

[2020-12-01 01:14] CallumJHays commented on #152
Hey, Just gave this a quick try. removing all options but "python.analysis.extraPaths" seems to be all thats needed for setting up with pylance. Setting "python.analysis.typeShedPaths" as in the generated config appears to cause pylance's inferencing to play up.

Working config:
[code]

[2020-12-01 15:50] Josverl commented on #152
Thanks @CallumJHays , I can confirmthat pylint works better when dropping the additional paths

it may be needed to add an explicit   `"python.languageServer": "Pylance",`  depending on the user / ws preferences

[code]
Ill update the upstream documentation tracked by : https://github.com/Josverl/micropython-stubber/issues/35

[2020-12-01 21:00] BradenM commented on #152
Awesome!

Is anyone here interested in pulling together a PR to add a template option for pylance in micropy-cli?

If not, I will try to get to it soon.

[2021-01-06 17:56] arstorey opened #208 "Detection of Windows NTFS junction fails if path is a WindowsPath with a lower case drive letter"
In the file helpers.py, function is_dir_link:

When running on Windows, if the path passed in is a WindowsPath with a lower case drive letter then the function will always return True regardless of the existence of the directory or its status as a regular directory or a junction.

This is because:
1. WindowsPath.resolve() changes the drive letter to upper case while WindowsPath.absolute() doesn't.

[2021-01-13 16:28] alexbez opened #212 "Cannot add stub (esp32-micropython-1.12.0)"
When trying to add a stub, micropy crashes:

[code]
micropy log:
`[2021-01-13 18:24:18] DEBUG: hookproxy(add_from_file): Method added to proxy: (<function PackagesModule.add_from_file at 0x7f8b392435e0>, '_hook__add_from_file__path_None__dev_False')
[2021-01-13 18:24:18] DEBUG: hookproxy(add_package): Method added to proxy: (<function PackagesModule.add_package at 0x7f8b39243700>, '_hook__add_pack

[2021-01-17 15:42] VoidDruid commented on #212
I'm having the exact same problem

[2021-01-17 22:33] BradenM commented on #212
Interesting... I will look into this further, but at first glance it appears micropy thinks it's currently in an active project from your home folder for some reason.

Could you retry the command from a different directory and see if the you get the same results?

Something like: `cd /tmp && micropy stubs add <stub>`

Thanks

[2021-01-18 09:51] alexbez commented on #212
From /tmp directory it works fine.

[code]

[2021-01-27 21:21] daspiras opened #217 "Init fails on network drive (Win10)"
OS: Win10
Micropy: 3.5
Python: 3.7
VSC: 1.52.1

When running `micropy init` on a mapped network drive from a NAS, it fails with:

`[2021-01-27 14:09:38] ERROR: test: Failed to Create Stub Links!`
`[2021-01-27 14:09:38] FileNotFoundError: [Errno 2] No such file or directory: 'Z:\\test\\.micropy\\BradenM-micropy-stubs-e1b8ce6\\info.json'`

Interestingly, micropy creates the stubs fine in the .microp

[2021-01-27 23:28] BradenM commented on #217
Interesting. I wonder if this is some sort of permissions issue?

As a workaround, you could try manually copying the stubs from your root micropy folder to where it's trying to create the links.

[2021-01-28 21:53] daspiras commented on #217
Yes. You are absolutely correct. I now see it was trying to create symlinks from `$HOME/.micropy` to the project folder. The fact it successfully created a .micropy folder on the network drive through me off.

As a test, I tried running `mklink` in a command prompt on network drive that contained my project folder and it was giving `access denied` errors, not allowing me to create a remote-> local

[2021-01-28 21:53] #217 closed

[2021-01-30 19:00] BradenM commented on #217
@daspiras Glad to hear you got it working.

I do agree it would be helpful to have more detailed output when this issue occurs. Also an option to fallback to copying is a good idea.

The idea behind symlinking is to keep all your stubs centralized in one place, so that if you update/add any the changes reflect to any of your existing projects. That said, it would be nice to have a fallback for sce

[2021-01-30 19:03] BradenM opened #218 "Add flag to enable stub copying fallback in the case of symlink errors"
**Is your feature request related to a problem? Please describe.**

See #217

**Describe the solution you'd like**

Add a flag (something like: `--allow-copy`) to enable copying stubs as a fallback to symlink related errors.

**Describe alternatives you've considered**

**Additional context**

[2021-01-30 19:06] BradenM opened #219 "Provide more detailed error output"
**Is your feature request related to a problem? Please describe.**

The current state of micropy-cli's error handling is weak. Errors such as #217 and #212 can and should have more detailed outputs when the occur, explaining why they happened and what to do about it.

**Describe the solution you'd like**

TODO

**Describe alternatives you've considered**

**Additional context**

[2021-02-04 12:44] cpwood opened #221 "Proposed convention: exclude files matching *_asm.py from linting in VS Code automatically"
**Is your feature request related to a problem? Please describe.**
When writing code in assembler such as the following:

[code]

this makes linting go crazy as it's obviously not "normal" Python code, despite being accepted happily by MicroPython.

**Describe the solution you'd like**
I have moved such functions into their own file (e.g. `foo_asm.py`) and have then added the following to `setting

[2021-02-20 12:39] mibcat opened #227 "What is the "source" of the available stubs micropy is offering to the user ?"
Hi !

I want to get rid of the _unable to import_ error message in VSC for the bluetooth module:
![image](https://user-images.githubusercontent.com/3083162/108595428-15949800-7380-11eb-8ccb-120029c30c68.png)

I saw that there was a fix für micropython 1.13 but I'm not able to add this version because it's not listed:

[code]

How can I add this specific stub version ?

Thanks !

[2021-02-21 00:50] airtonix opened #228 "the need for something like `micropy deploy`"
**Is your feature request related to a problem? Please describe.**

no... well yes. `micropy deploy` would be a great shortcut for micropython noobs.

Coming from the nodejs world, Currently I fee like micropy is just a combination of something like
- `npm search|install`
- `yo generator:*`

Is it just trying to be a micropython packagemanager? or a good overall dev toolkit?

if the former then it

[2021-03-02 12:13] ilium007 opened #235 "Why does it show a stub installed but then throw error"
I am trying to test and installed the 'micropython' stub but when I then try to init a project it says no stubs installed

[code]

[2021-03-02 12:16] ilium007 commented on #235
Verified I have a stub in ~/.micropy/stubs

[code]

[2021-03-25 05:22] BradenM commented on #235
@ilium007 Sorry for my late reply.

This is actually a design error. You installed the `micropython` stub, which is a "firmware" stub. Firmware stubs are more akin to dependencies rather than something micropy-cli uses to scaffold out a project.

You need to install a "device" stub (such as `esp32-micropython-X.XX.X`).

Thanks for pointing this out.

[2021-03-25 05:26] BradenM commented on #227
Hi @mibcat -- sorry for my late reply.

This is actually related to https://github.com/BradenM/micropy-stubs/issues/9

Newer versions of `micropython-stubber` now have the module (as of https://github.com/Josverl/micropython-stubber/issues/13).

I am looking into updating micropy-cli to utilize the latest version soon. Thanks.

[2021-03-25 05:26] #227 closed

[2021-04-16 17:01] manuel2258 commented on #228
I found micropy-cli because I was looking whether there is already a tool that uploads micropython source files to the microcontroller as that was the thing that always annoyed me about micropython.

If that is something that the maintainers would like to have or don't mind about I would love to implement it into micropy-cli.

Any suggestions about how this should work?

I was perhaps thinking tha

[2021-04-21 17:10] hsmptg opened #260 "esp32-micropython-1.15.0 stub?"
Any chance of having a stub for the last micropython (1.15.0)?
The last one seems to be for version 1.12.0!
What is the impact of using a 1.12.0 stub in a 1.15 micropython?

[code]

Regards and thanks for this useful project.

[2021-04-22 10:35] hsmptg commented on #260
Hi
Meanwhile I found that I could create my own stubs as can be seen here:
https://micropy-cli.readthedocs.io/en/latest/base.html#creating-stubs

After creasting my esp32-micropython-1.15.0 stub, it seems to allow a working "lint".
For instance now if I use a feature introduced in v1.13 (machine-soft_reset()) it is recognised.

But I also found some minor problems.
For instance, if I write any met

[2021-05-17 08:11] dependabot-preview[bot] opened #270 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `micropy-cli/pyproject.toml`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/BradenM/update-logs/80321310).

[2021-05-17 08:11] dependabot-preview[bot] opened #271 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `micropy-cli/pyproject.toml`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/BradenM/update-logs/80321309).

[2021-05-17 08:11] dependabot-preview[bot] opened #272 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `micropy-cli/pyproject.toml`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/BradenM/update-logs/80321311).

[2021-05-17 08:11] #271 closed

[2021-05-17 09:01] BradenM commented on #260
Hi @hsmptg,

I've finally gotten around to updating the stub repository and adding v1.15.0 (see: BradenM/micropy-stubs@eba97562a50502120749b626c0b61a8758d8363b).

Sorry for taking so long :grimacing:

`micropy stubs add esp32-micropython-1.15.0` should work now, along with (I believe) properly working uasyncio stubs.
Thanks.

[2021-05-17 09:01] #260 closed

[2021-05-17 09:22] BradenM commented on #212
Closing due to staleness and unable to reproduce.
Feel free to let me know if this is still an issue.

[2021-05-17 09:22] #212 closed

[2021-05-17 09:27] BradenM commented on #167
Closing due to being an upstream (micropython) issue (https://github.com/BradenM/micropy-cli/issues/167#issuecomment-714965627)

[2021-05-17 09:27] #167 closed

[2021-05-17 09:30] #235 closed

[2021-05-17 09:30] BradenM commented on #103
Closed in https://github.com/Josverl/micropython-stubber/issues/13

[2021-05-17 09:30] #103 closed

[2021-05-27 14:57] cwhuasmile opened #275 "raise ImportError(err)"
When I execute `micropy init newproject`
The following error message was encountered

======================================
Traceback (most recent call last):
  File "c:\users\administrator\appdata\local\programs\python\python36\lib\site-p
ackages\git\__init__.py", line 87, in <module>
    refresh()
  File "c:\users\administrator\appdata\local\programs\python\python36\lib\site-p
ackages\git\__ini

[2021-05-27 18:26] BradenM commented on #275
Hi @cwhuasmile,

It seems you do not have Git installed (or it is not available on your path).

See: https://git-scm.com/download/win

Thanks.

[2021-05-28 07:16] #272 closed

[2021-05-29 08:59] BradenM commented on #275
Closing since the issue seems unrelated to micropy.

Feel free to let me know otherwise. Thanks.

[2021-05-29 08:59] #275 closed

[2021-05-29 10:22] cwhuasmile commented on #275
@BradenM
Thank you very much. According to your tips, I have successfully solved my problem

[2021-05-31 11:26] dependabot-preview[bot] opened #276 "Dependabot couldn't fetch all your path-based dependencies"
Dependabot couldn't fetch one or more of your project's path-based Python dependencies. The affected dependencies were `micropy-cli/pyproject.toml`.

To use path-based dependencies with Dependabot the paths must be relative and resolve to a directory in this project's source code.

[View the update logs](https://app.dependabot.com/accounts/BradenM/update-logs/81639369).

[2021-07-13 11:48] hwcconde opened #277 "Using under Windows"
I've installed it using pip in a Windows machine

When executing it always throws:

`Traceback (most recent call last):
  File "c:\users\h354000\appdata\local\programs\python\python37\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\h354000\appdata\local\programs\python\python37\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Us

[2021-07-13 11:55] hwcconde commented on #277
I downgraded my install to a version which seemed to work:

[2021-09-15 15:59] robertoetcheverryr opened #279 "Unmantained Pyminifier breaks on SetupTools >=58"
Hi!
I've started down the road of MicroPython and stumbled upon this magnificent project. It's just what I wanted, since I moved from the Arduino IDE to a complete IDE like PyCharm, to have the advanced features since not having code completion was really irking me.
I'm trying to make a complete guide on how to use lv_micropython from 0, including having a complete IDE that actually works, so this

[2021-10-31 21:38] Josverl commented on #279
I have updated micropython-stubber and `process.py` to use **python-minifier** which appears to work well.
It produces even more compact code, and I have needed to adjust a number of tests.

if you update to v1.4.1 and update the depedencies your existing code should work,
or rather than running the minification on demand you could just pick up the minified version from [`micropython-stubber/minif

[2021-10-31 22:42] robertoetcheverryr commented on #279
Thank you!

[2021-11-01 09:18] Josverl commented on #279
@robertoetcheverryr  ,
you may want to leave this open as @BradenM will still need to make a few changes to micropy-cli

[2021-11-08 15:04] robertoetcheverryr commented on #279
Reopened as per Josverl's comment

[2021-11-22 07:02] BradenM commented on #279
@robertoetcheverryr Thank you for the report. I've (finally :grimacing:) found the time to look into this and am dealing with it now.

@Josverl Thanks for finding a solution. Working on updating everything now.

[2021-11-22 10:58] #100 closed

[2021-11-22 11:21] BradenM commented on #228
@manuel2258 If you are still interested in taking a stab at this, take a look at: #107 and let me know your thoughts.

Thanks

[2021-11-22 11:49] #279 closed

[2022-02-06 09:52] hzhhgit opened #286 "autocomplete doesn't work when reopen vscode"
hi
i did install micropy-cli using pip install  micropy-cli
and using pip list i can see this: micropy-cli         3.6.0
but on every command using micropy including micropy init i have follwoing error:
[code]
what is the problem and how can i solve that

[2022-02-06 09:57] hzhhgit commented on #286
my problem also solved using pip install micropy-cli==3.1.1

[2022-02-06 10:12] hzhhgit commented on #286
i alse downgarde to version 3.1.1 and that not working too

[2022-02-06 10:35] hzhhgit commented on #286
it seems my problem was with git and before any thing u should install git first and add it to system vaibales path

[2022-02-06 21:46] hzhhgit commented on #286
an other problem happend.
when i use micropy init and initialize project every thing work fine but when i close vscode and open it again autocomplete dosen't work

[2022-02-09 11:14] dalibor-sanzeru commented on #286
I had the same issue -> Intellisence didnt worked for python.
I have found language server is not configured when re-open second time VS Code after usage of micropy-cli:
Could you look in directory for this string?
    "python.languageServer"
  Change this to + save:
      "python.languageServer": "Pylance",

 File should be located at: .vscode/settings.json

[2022-02-09 19:36] dmcooke opened #287 "Can't create new project after installing micropy-cli"
1) install micropy-cli using pip, as per the install instructions
2) run `micropy -t vscode foo`
3) micropy fails to create project (or any project files)

Output from micropy:
[code]

Contents of ~/.micropy/micropy.log

[code]

In this case, ~/.micropy/stubs is empty.

Installing a stub (e.g., `micropy stubs add micropython`) doesn't help: I get the same error.

Micropy 3.6.0, Python 3.9.10, Debi

[2022-02-10 09:01] hzhhgit commented on #286
i don't konw how to appreciate you
your hint completey worked for me
as u said i just change `"python.languageServer": "None"` to "python.languageServer": "Pylance", and autocomplete worked again

[2022-02-10 09:01] #286 closed

[2022-02-10 10:24] dalibor-sanzeru commented on #286
@BradenM could you please take a look on this?
Looks liike CLI is not storing python.languageServer after VS CODE restart.
Workround is in this thread.
Thanks.

[2022-02-10 11:16] BradenM commented on #286
Will see if I can take a look this weekend.

[2022-02-20 15:19] ShocKwav3 opened #288 "Running the cli command fails with trace"
Hi,

I am fairly new to micropython development and so far it's great. I was trying to setup the `micropy-cli` in order to get my vscode stop complaining about those errors. Unfortunately, I can't run the any command `micropy-cli`. They fails with the following error trace:

[code]

Any pointers on how I can fix this?

Thanks.

[2022-02-21 09:48] BradenM commented on #288
Hi @ShocKwav3, thanks for the report.
Looks like micropy got bit by https://github.com/pallets/jinja/issues/1585.

Will have a fix out soon. Thanks.

[2022-02-27 12:36] lukich48 commented on #288
@ShocKwav3 you can downgrade markupsafe to version 2.0.1 while fix is preparing

pip install --upgrade markupsafe==2.0.1

[2022-03-14 02:43] BradenM commented on #287
Hi @dmcooke -- Thanks for the report.

Sorry for the confusion, this issue stems from a poor design choice.
See my comment here: https://github.com/BradenM/micropy-cli/issues/235#issuecomment-806372430

Thanks.

[2022-03-14 02:43] #287 closed

[2022-03-14 02:47] #288 closed

[2022-03-15 12:11] BradenM commented on #288
@ShocKwav3 @lukich48

This should be fixed in the latest release candidate (v4.0.0.rc.1).
Would be awesome if any of you guys could give it a try and let me know of any issues :smile:

Do note that (as of now) the v4 candidate does not support creating stubs on Windows when using python 3.10 (anything >=3.9 is supported). This is due to rshell depending on pyreadline, which breaks on windows w/ py

[2022-03-21 02:04] BradenM commented on #235
Pinning this for visibility until it is fixed in v4.0.0

[2022-04-04 15:20] bananabr opened #295 "ImportError: cannot import name 'soft_unicode' from 'markupsafe'"
**Describe the bug**
There seems to be a dependency issue involving micropy-cli and Jinja 2 when, at least when running on Windows.

**Expected Behavior**
No exception is thrown during normal execution

**Current Behavior**
![image](https://user-images.githubusercontent.com/9096933/161575954-1d003a53-ea57-4cfd-bb66-c32edd8975f2.png)

**Steps to Reproduce**
1. Install the latest version of micropy-

[2022-04-05 07:16] BradenM commented on #295
Hi @bananabr,

Thanks for the report.
This is actually a known issue and is being addressed in the upcoming v4 release :smile:

You can install the latest pre-release (which should resolve this for you) via `pip install micropy-cli --upgrade --pre`).
See #288 #293 #289 for more details.

Please let me know if you still have issues. Thanks!

[2022-04-05 07:16] #295 closed

[2022-04-11 09:35] #47 closed

[2022-04-11 09:35] #277 closed

[2022-04-11 10:02] Josverl commented on #47
Interesting ,
How do you handle the issue that `upydev` depends on `netifaces`  requires the VS C++ build tools to be installed ?
does not that make the threshold to install too high ?

[code]

[2022-04-13 07:26] bereldhuin opened #298 "Micropy 3.6 unavailable with pip on Python 3.10"
Hi,

I'm unable to unstall micropy 3.6 via pip on Python 3.10 (only 3.4.0 is available).
Looking in tar.gz on pypi.org, it seems that this version is limited to Python <3.10 (whereas version 3.4 is limited to Python < 4)

PKG-INFO for micropy 3.4.0 :
`Requires-Python: >=3.6,<4.0`

PKG-INFO for micropy 3.6.0 :
`Requires-Python: >=3.6.2,<3.10`

[2022-04-21 05:35] golyalpha opened #299 "Missing modules from generated stubs"
I'm running a version of Micropython that includes lvgl and it's bindings, including some display drivers. Unfortunately, when I run the stubber via micropy, it doesn't even find these additional modules - even though they are present, and can be imported and used just fine.

[2022-04-23 04:22] BradenM commented on #298
Hi @bereldhuin,

`micropy-cli` "officially" supports python 3.10 in the upcoming v4.0.0 release.

You can install the [latest release candidate](https://pypi.org/project/micropy-cli/4.0.0rc2/) (`v4.0.0-rc.2`) via `pip install  micropy-cli --upgrade  --pre`.

If you choose to do so, please let me know if you run into any issues. Thanks!

[2022-04-23 04:23] #298 closed

[2022-04-23 05:02] BradenM commented on #299
@golyalpha,

Currently, micropy uses a pretty dated version micropython-stubber (https://github.com/Josverl/micropython-stubber/tree/aefb2c9ea6bd2ff6ce5daff6f494115b0dd2e472) for generating stubs. As of now, it utilizes a [predefined list of target modules](https://github.com/Josverl/micropython-stubber/blob/aefb2c9ea6bd2ff6ce5daff6f494115b0dd2e472/board/createstubs.py#L557-L692) to check for & st

[2022-04-25 10:16] Josverl commented on #299
@golyalpha

Please have a look at the available lvgl stubs :
https://github.com/Josverl/micropython-stubs/tree/main/stubs/lvgl-v8_1_0_dev-esp32

that were created following a request and discussion.
https://github.com/Josverl/micropython-stubs/discussions/554

[2022-05-01 02:41] #99 closed

[2022-05-10 23:54] redghc opened #300 "Error: StopIteration - Click library"
**Describe the bug**
Get an error when trying to generate stubs

**Expected Behavior**
Stubs are generated

**Current Behavior**
![imagen](https://user-images.githubusercontent.com/94464560/167742321-1bf834b5-45c3-4238-85b0-255c1ac24b7a.png)

**Steps to Reproduce**
1. Install micropy-cli 4.0.0rc2
2. Connect esp32 with Micropython v.1.18
3. Execute `micropy stubs create /dev/ttyUSB0`
4. Get error

[2022-05-11 00:44] redghc commented on #300
Found this issue
https://github.com/BradenM/micropy-cli/issues/47

Delete de /flash folder existing in esp32, now all is OK.

[2022-05-11 00:44] #300 closed

[2022-06-09 15:26] vincentchov opened #301 "Question about non-VS Code support and board support"
Sorry if this the wrong place to ask questions, but is the Micropy CLI compatible with other text editors like NeoVim? Also, are the stubs compatible with the ESP8266? Thanks!

Also I made a post under the Discussion section (#302), but it doesn't look like the Discussion section is used

[2022-06-09 15:28] vincentchov commented on #301
Also I made a post under the Discussion section (#302), but it doesn't look like the Discussion section is used

[2022-07-07 15:33] MilesStarr opened #303 "Windows install has pylint issue finding stubs"
My first code showed `import machine` in error resulting in:

`Unable to import 'machine' pylint(import-error) [Ln 3, Col 1]`

pylint should be able to find the stub information.

in `.pylintrc` template:

`init-hook='import sys;sys.path[1:1]=["src/lib",{% for path in paths %}"{{ path|replace("\\", "/") }}", {% endfor %} ]'`

resulted in:

`init-hook='import sys;sys.path.insert(1, ".micropy\microp

[2022-08-07 07:54] BradenM commented on #303
@MilesStarr

Thanks for the report! I apologize it took me so long to get back to you.

Please do! I'd be happy to review and validate a PR for this.

Seems as if you have already found the related files, but here they are regardless:
https://github.com/BradenM/micropy-cli/blob/7c716557ea6bba929ef61ed349e811ace249625c/micropy/project/template/.pylintrc#L3

https://github.com/BradenM/micropy-cli/bl

[2022-09-26 05:50] BradenM commented on #301
Closed in favor of discussion #302

[2022-09-26 05:50] #301 closed

[2022-11-02 21:39] justus-saul opened #312 "pymakr config setup depricated"
* OS: Manjaro Linux rolling
* Micropy Version: v4.0.0-rc.2
* Python Version: 3.10
* VSCode Version: 1.7.30
* pymakr: 2.22.5

Hi,
I just setup my first project with the help of Micropy Cli on VSCode.
It seems the config Micropy is creating for pymakr in its currently available version from the extensions is deprecated.
Of all options set by Micropy only `safe_boot_on_upload` and `py_ignore` are sti

[2022-11-05 08:26] #276 closed

[2022-11-05 08:29] BradenM commented on #312
Thanks for bringing this to my attention.

I will look into adding support for pymakr v2 config over this weekend, hopefully. :+1:

[2022-11-05 16:44] renovate[bot] opened #335 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [fix(deps): update dependency gitpython to v3.1.29](../pull/315)
 - [ ] [chore(deps): update dependency doc8 to ^0.

[2022-11-12 22:11] guineau opened #338 "Installed latest micropy. After micropy init I get error"
macOS Ventura on M1 MacBook.

micropy, version 4.0.0rc2
Python 3.9.13
VSCode Version: 1.73.1

Installed micropy and ran:

$ micropy stubs install esp32-micropython-1.10.0
$ micropy init

Both of which worked fine.

However when I run micropy now I always get the following stack dump.

(upy) guineau:~/Projects/ESP/ATOM  % micropy stubs list

MicroPy  Installed Stubs:
MicroPy  Total: 1

MicroPy  Mic

[2022-11-15 16:33] seth-c-stenzel opened #342 "MicroPy-CLI Crashing during stubs creation"
When running near the end of the create process I'm getting an `StopIteration` error.
It almost seems to me like everything is successful, just that the upload process is failing, and I'm unsure if this means the stubbing process completed correctly and just an upload failed, or what, the error seems ambiguous to me.

Stubs folder is empty. I'm not sure where to go from here, the common denominato

[2022-11-19 18:56] BradenM commented on #342
Hi @seth-c-stenzel, thanks for the report.

While this is useful to know, what version of `micropy-cli` were you using when this happened? Thanks.

[2022-11-22 00:06] BradenM commented on #338
Hi @guineau, thanks for the report.

After created a few dummy projects with different variations, I was able to recreate your error.

It seems to happen when no templates are selected during the `micropy init` process. This currently results in an (incorrect) micropy.json file that lacks a `config` key entirely, instead of a `config` key with an empty object as its value.

Can you confirm that yo

[2022-11-22 21:15] guineau commented on #338
Hi Braden,

I am new to micropy (and MicroPython!) so I probably just set things up incorrectly.

Ok, I just deleted the project and started again - and I totally missed the part about "press space to select" when picking templates. Much better now that I selected something :)

Sorry for confusion and thank you for a great utility!

You can close this bug report (or should I?)

john

[2022-11-23 00:11] BradenM commented on #338
No worries!

Best to just leave this issue open for now, as it is a legitimate bug for micropy to crash in the scenario that no templates were selected.

Glad that you have a working setup now though, and best of luck on your project(s)!

[2022-11-30 13:00] armeniopinto opened #345 ""int", "str", "bytes", etc. not defined"
Hello,

I've just started using `micropy-cli` and it has been a great experience: smooth and clean. The only problem that I have is that Pylance is complaining that it can't find definitions for common Python functions - none of them is being found! Do you know what I might be missing here? Thank you!